<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortener</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>URL Shortener</h1>
    <% if (locals.id) { %>
    <p>
      URL Generated is:
      <a href="http://localhost:8000/<%= id%>"
        >http://localhost:8000/<%= id%></a
      >
    </p>
    <% } %>
    <div>
      <form method="POST" action="/url">
        <label for="url">Enter your original URL</label>
        <input
          type="text"
          id="url"
          name="url"
          required
          placeholder="https:example.com"
        />
        <button type="submit">Generate</button>
      </form>
    </div>
    <div>
      <% if (locals.urls) { %>
      <table>
        <thead>
          <tr>
            <th>No.</th>
            <th>ShortID</th>
            <th>Redirect</th>
            <th>Clicks</th>
          </tr>
        </thead>
        <tbody>
          <% urls.forEach((url, index) => { %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= url.shortId %></td>
            <td><a href="<%= url.redirectUrl %>"><%= url.redirectUrl %></a></td>
            <td><%= url.visitHistory.length %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
      <% } %>
    </div>
  </body>
</html>
